<config th:fragment="config">
<script src="https://cdn.tailwindcss.com"></script>
<script src="/js/tailwindcssClasses.js" defer></script>
<script src="/js/itemDetail.js" defer></script>
<script src="/js/commentDetail.js" defer></script>
<script src="/js/commentRegister.js" defer></script>
<script src="/js/messageAlert.js" defer></script>
<script src="/js/registeritemform.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
<link href="/css/common.css" rel="stylesheet" type="text/css" />
</config>