<header th:fragment="header">
    <nav class="bg-white shadow-md py-4 fixed w-full top-0 z-20">
        <div class="container mx-auto px-4 flex justify-between items-center">
            <h1 class="text-2xl font-bold text-blue-600"><a href="/home">DBmarket</a></h1>


            <img src="https://elice.io/images/elice_logo.svg" alt="elice_logo" class="h-8">
        </div>

        <div class="container mx-auto px-4 flex justify-end items-left">

            <div class="mx-3 my-2">
        <button type="button" id="profile-btn">
            <a th:href="@{/users/{userid}(userid=${myuserid})}"
               class="bg-gradient-to-r from-blue-400 to-purple-500 hover:from-blue-600 hover:to-purple-600 text-white font-semibold py-2 px-6 rounded-lg transition duration-300 transform hover:scale-105 ease-in-out flex items-center shadow-lg">
                <i data-feather="user" class="mr-2"></i> 마이페이지
            </a>
        </button>
            </div>

            <div class="mx-3 my-2">
        <button type="button" id="profile-btn">
            <a th:href="@{/users/logout}"
               class="bg-gradient-to-r from-blue-400 to-purple-500 hover:from-blue-600 hover:to-purple-600 text-white font-semibold py-2 px-6 rounded-lg transition duration-300 transform hover:scale-105 ease-in-out flex items-center shadow-lg">
                <i data-feather="log-out" class="mr-2"></i> 로그아웃
            </a>
        </button>
        </div>
        </div>


    </nav>

    <div class="relative bg-gradient-to-r from-blue-400 to-purple-500 text-white py-32 mt-16 mb-8">
        <div class="absolute inset-0 z-0 overflow-hidden">
            <img src="/images/laptop_webcam.png" alt="laptop_webcam" class="w-full h-full object-cover object-center opacity-30">
        </div>
        <div class="relative z-10 text-center">
            <h1 class="text-5xl font-bold mb-4 shadow-text">DBmarket</h1>
            <div>
            <h4 class="text-xl text-blue-100 shadow-text" th:text="${username}"> </h4>
            </div>
            <h4>DBmarket에 오신 것을 환영합니다.</h4>

        </div>
    </div>
</header>

<style>
    .shadow-text {
        text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    }
</style>
