<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<main class="container mx-auto px-4 max-w-3xl bg-white shadow-2xl rounded-lg overflow-hidden p-8 flex justify-center items-center">
    <form action="/users/join" method="post">
        <p> 비밀번호를 확인해 주세요 </p>
        <input type="text" name="username"
               class="px-4 py-3 text-2xl font-semibold border-b-2 border-purple-100 focus:border-purple-500 transition duration-300 bg-transparent focus:outline-none"
               placeholder="아이디"><br>
        <input type="password" name="password"
               class="px-4 py-3 text-2xl font-semibold border-b-2 border-purple-100 focus:border-purple-500 transition duration-300 bg-transparent focus:outline-none"
               placeholder="비밀번호"><br>
        <input type="password" name="password_check"
               class="px-4 py-3 text-2xl font-semibold border-b-2 border-purple-100 focus:border-purple-500 transition duration-300 bg-transparent focus:outline-none"
               placeholder="비밀번호 확인"><br>
        <br>
        <button type="submit"
                class="bg-gradient-to-r from-blue-400 to-purple-500 hover:from-blue-600 hover:to-purple-600 text-white font-semibold py-2 px-6 rounded-lg transition duration-300 transform hover:scale-105 ease-in-out flex items-center shadow-lg">
            회원가입</button>
    </form>
</main>

</body>
</html>