<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<main class="container mx-auto px-4 max-w-3xl bg-white shadow-2xl rounded-lg overflow-hidden p-8 flex justify-center items-center">
    <form action="/users/login" method="post" onsubmit="return validateForm()">
        <p th:if="${param.error != null }"> 존재하지 않는 아이디 이거나, 비밀번호가 일치하지 않습니다. </p>
        <input type="text" name="username" id="username"
               class="px-4 py-3 text-2xl font-semibold border-b-2 border-purple-100 focus:border-purple-500 transition duration-300 bg-transparent focus:outline-none"
               placeholder="아이디"><br>
        <input type="password" name="password" id="password"
               class="px-4 py-3 text-2xl font-semibold border-b-2 border-purple-100 focus:border-purple-500 transition duration-300 bg-transparent focus:outline-none"
               placeholder="비밀번호"><br>
        <br>
        <div class="container mx-auto px-4 max-w-3xl overflow-hidden p-8 flex justify-end items-left">

        <button type="submit"
                class="bg-gradient-to-r from-blue-400 to-purple-500 hover:from-blue-600 hover:to-purple-600 text-white font-semibold py-2 px-6 rounded-lg transition duration-300 transform hover:scale-105 ease-in-out flex items-center shadow-lg">
            <i data-feather="user-check" class="mr-2"></i>  로그인</button>

            <div class="mx-2">
            <button type="button">
                <a th:href="@{/users/join}"
                   class="bg-gradient-to-r from-blue-400 to-purple-500 hover:from-blue-600 hover:to-purple-600 text-white font-semibold py-2 px-6 rounded-lg transition duration-300 transform hover:scale-105 ease-in-out flex items-center shadow-lg">
                    <i data-feather="user-plus" class="mr-2"></i> 회원가입
                </a>
            </button>
            </div>

            <button type="button">
                <a th:href="@{/home}"
                   class="bg-gradient-to-r from-blue-400 to-purple-500 hover:from-blue-600 hover:to-purple-600 text-white font-semibold py-2 px-6 rounded-lg transition duration-300 transform hover:scale-105 ease-in-out flex items-center shadow-lg">
                    <i data-feather="arrow-left" class="mr-2"></i>  뒤로가기
                </a>
            </button>

        </div>

    </form>
    <script>
        function validateForm() {
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            if (username.indexOf(' ') >= 0 || password.indexOf(' ') >= 0) {
                alert("아이디와 비밀번호에는 공백을 입력할 수 없습니다.");
                return false;
            }
            return true;
        }
    </script>
</main>

</body>
</html>