<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<main class="container mx-auto px-4 max-w-5xl">
    <form action="/users/login" method="post">
        <p></p>
        <input type="text" name="username" placeholder="이름"><br>
        <input type="password" name="password" placeholder="비밀번호"><br>
        <button type="submit">로그인</button>

    </form>
</main>

</body>
</html>