<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>판매자 프로필</title>
</head>
<body>
<main class="container mx-auto px-4 max-w-3xl bg-white shadow-2xl rounded-lg overflow-hidden p-8 flex justify-center items-center">
    <div>
        <h2 class="px-4 py-2 text-2xl font-semibold"> 판매자 </h2>
        <h3 class="px-4 py-2 text-2xl">[[${username}]] 님 </h3>
    </div>
</main>

<main class="container mx-auto px-4 max-w-3xl overflow-hidden p-8 flex justify-end items-left">
    <div class="mx-2">
        <button type="button" id="review-btn">
            <a th:href="@{/comments/{userid}(userid=${userid})}"
               class="bg-gradient-to-r from-blue-400 to-purple-500 hover:from-blue-600 hover:to-purple-600 text-white font-semibold py-2 px-6 rounded-lg transition duration-300 transform hover:scale-105 ease-in-out flex items-center shadow-lg">
                <i data-feather="star" class="mr-2"></i>판매자 리뷰 보러가기
            </a>
        </button>
    </div>
</main>

<main class="container mx-auto max-w-4xl overflow-hidden p-8 flex justify-left items-left">
    <h2 class="px-4 py-2 text-2xl font-semibold"> 판매중인 물건 </h2>
</main>
<main class="container mx-auto px-4 max-w-4xl overflow-hidden p-8 flex justify-left items-left">

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4">
        <div th:each="item : ${items}" class="relative group">
            <a th:href="@{/items/{id}(id=${item.id})}" class="block">
                <img th:src="${item.imagePath}" alt="image" class="w-full h-full object-cover rounded-lg transition duration-300 transform group-hover:scale-105">
            </a>

            <div class="absolute bottom-0 left-0 right-0 p-4 bg-white bg-opacity-80 rounded-b-lg transition duration-300 opacity-0 group-hover:opacity-100">
                <a th:href="@{/items/{id}(id=${item.id})}" class="block">
                    <h2 class="text-lg font-medium text-center">
                        <span th:text="${item.name}"></span>
                    </h2>
                    <p class="text-gray-700 text-center">
                        <span th:text="${item.category.getName}"></span>
                    </p>
                    <p class="text-gray-700 text-center">
                        가격: <span th:text="${item.price}"></span>원
                    </p>
                </a>  </div>
        </div>
    </div>
</main>


</body>
</html>
