<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>블로그 글 목록</title>
</head>
<body>
<main class="container mx-auto px-4 max-w-5xl">
    <ul>
        [[${username}]] 님
    </ul>

    판매중인 상품


    <button type="button" id="create-btn"
            th:onclick="|location.href='@{/comments}'|"
            class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-6 rounded-full transition duration-300 ease-in-out mb-8 flex items-center">
        <i data-feather="plus" class="mr-2"></i> 거래 후기
    </button>


    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">

    </div>
</main>
</body>
</html>
