<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
</head>
<body>
<main class="container mx-auto px-4 max-w-3xl bg-white shadow-2xl rounded-lg overflow-hidden p-8 flex justify-center items-center">
    <div>
        <h1>댓글</h1>
        <ul th:each="comment : ${comments}">
            <li>
                <p th:text="${comment.reviewerName}"></p>
            </li>
            <li>
                <p th:text="${comment.content}"></p>
            </li>
        </ul>
    </div>
</main>

</body>
</html>
