<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>상품 목록</title>

</head>
<body>
<main class="container mx-auto px-4 max-w-5xl">
    <button type="button" id="create-btn"
            th:onclick="|location.href='@{/registeritem}'|"
            class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-6 rounded-full transition duration-300 ease-in-out mb-8 flex items-center">
        <i data-feather="plus" class="mr-2"></i> 글 등록
    </button>

    <h1>중고거래 인기매물</h1>
    <ul>
        <li th:each="item : ${items}">
            <p>상품 이름 - <span th:text="${item.name}"></span></p>
            <p>가격 - <span th:text="${item.price}"></span></p>
            <button type="button" id="profile-btn">
                <a th:href="@{/items/{id}(id=${item.itemId})}" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-6 rounded-full transition duration-300 ease-in-out mb-8 flex items-center">
                <i data-feather="plus" class="mr-2"></i> 상세보기
                </a>
            </button>
        </li>
    </ul>
</main>
</body>
</html>
