<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>거래 후기</title>
</head>
<body>
<main class="container mx-auto px-4 max-w-5xl">
    <div class="max-w-3xl mx-auto bg-white shadow-xl rounded-lg overflow-hidden">
        <article class="p-8">
            <h1 class="text-4xl font-bold mb-4 text-gray-800">거래 후기 목록</h1>
            <button id="form-btn" class="bg-gradient-to-r from-purple-500 to-pink-500 hover:from-purple-600 hover:to-pink-600 text-white font-semibold py-2 px-6 rounded-full transition duration-300 ease-in-out">
                후기 등록
            </button>
            <br>
            <br>
            </header>

            <!-- 댓글 작성 폼 -->
            <div id="comment-form" class="mb-6" style="display: none;">
                <form id="create-form" method="post" th:action="@{/comments/create}">
                    <input type="hidden" name="userId" th:value="${userId}"/>
                    <!--세션에 로그인한 사람 이름..-->
                    <input type="hidden" name="reviewerName" th:value="${myusername}"/>
                    <p>후기 남기기</p>
                    <textarea class="w-full px-4 py-3 text-gray-700 border-2 border-purple-200 rounded-lg focus:border-purple-500 focus:outline-none transition duration-300 min-h-[200px]" rows="5" placeholder="당신의 이야기를 들려주세요..." name="content"></textarea>
                    <div class="flex justify-end space-x-4 mt-4">
                        <button type="submit" class="bg-gradient-to-r from-purple-500 to-pink-500 hover:from-purple-600 hover:to-pink-600 text-white font-semibold py-2 px-6 rounded-full transition duration-300 ease-in-out">
                            등록
                        </button>
                    </div>
                </form>
            </div>

            <ul>
                <!-- 댓글 목록 -->
                <li th:each="comment : ${comments}" class="mb-4 border-b border-gray-200 pb-4">
                    <p class="text-lg font-semibold" th:text="${comment.reviewerName}"></p>
                    <p class="text-gray-700 mb-2" th:text="${comment.content}"></p>
                    <button type="button" id="profile-btn">
                        <a th:href="@{/comments/detail/{commentId}(commentId=${comment.commentId})}"
                           class="bg-gradient-to-r from-blue-400 to-purple-500 hover:from-blue-600 hover:to-purple-600 text-white font-semibold py-2 px-6 rounded-lg transition duration-300 transform hover:scale-105 ease-in-out flex items-center shadow-lg">
                            <i data-feather="plus" class="mr-2"></i> 상세보기
                        </a>
                    </button>
                </li>
            </ul>

        </article>
    </div>
</main>
</body>
</html>