<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>댓글 수정 페이지</title>
</head>
<body>




<main class="container mx-auto px-4 max-w-5xl">
    <div class="bg-white shadow-2xl rounded-lg overflow-hidden p-8 transform hover:scale-105 transition duration-300">

        <article>
            <form id="edit-form" method="post" th:action="@{/comments/detail/{commentId}(commentId=${comment.commentId})}">
                <input type="hidden" name="commentId" th:value="${comment.commentId}"/>
                <input type="hidden" name="userId" th:value="${comment.userId}"/>
                <div class="mb-6 flex items-center">
                    <i data-feather="star" class="mr-2"></i>
                    <label for="rating" class="block text-gray-700 text-sm mb-2"></label>
                    <select name="rating" id="rating">
                        <option th:value="${1}" th:selected="${comment.rating == 1}">1점</option>
                        <option th:value="${2}" th:selected="${comment.rating == 2}">2점</option>
                        <option th:value="${3}" th:selected="${comment.rating == 3}">3점</option>
                        <option th:value="${4}" th:selected="${comment.rating == 4}">4점</option>
                        <option th:value="${5}" th:selected="${comment.rating == 5}">5점</option>
                    </select>
                </div>
                <section class="mb-6">
                    <textarea class="w-full px-4 py-3 text-gray-700 border-2 border-purple-200 rounded-lg focus:border-purple-500 focus:outline-none transition duration-300 min-h-[200px]" rows="10" placeholder="당신의 이야기를 들려주세요..." name="content" th:text="${comment.content}"></textarea>
                </section>
                <div class="flex justify-end space-x-4">
                    <button type="submit"  onclick="return confirm('수정하시겠습니까?')"
                            class="bg-gradient-to-r from-purple-500 to-pink-500 hover:from-purple-600 hover:to-pink-600 text-white font-semibold py-2 px-6 rounded-full transition duration-300 ease-in-out flex items-center shadow-lg">
                        <i data-feather="edit-2" class="mr-2"></i> 수정하기
                    </button>
                </div>
            </form>
        </article>
    </div>
</main>
</body>
</html>