<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>아이템 상세 페이지</title>
</head>
<body>
<main class="container mx-auto px-4 max-w-5xl">
    <button type="button" id="create-btn"
            th:onclick="|location.href='@{/items}'|"
            class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-6 rounded-full transition duration-300 ease-in-out mb-8 flex items-center">
        <i data-feather="arrow-left" class="mr-2"></i> 목록으로 돌아가기
    </button>
    <div class="max-w-3xl mx-auto bg-white shadow-xl rounded-lg overflow-hidden">
        <article class="p-8">
            <input type="hidden" id="article-id" th:value="${item.itemId}">
            <header class="mb-8 pb-8 border-b border-gray-200">
                <h1 class="text-4xl font-bold mb-4 text-gray-800" th:text="${item.name}"></h1>
                <div class="flex items-center text-gray-600">
                    <i data-feather="calendar" class="mr-2"></i>
                    <span th:text="${#temporals.format(item.createdAt, 'yyyy년 MM월 dd일 HH:mm')}"></span>
                    <span th:text="${#temporals.format(item.updatedAt, 'yyyy년 MM월 dd일 HH:mm')}"></span>
                </div>
            </header>
            <section class="mb-12 prose lg:prose-lg max-w-none">
                <p class="text-lg leading-relaxed text-gray-700" th:text="${item.description}"></p>
            </section>
            <div class="flex space-x-4">
                <div>
                    <button type="button" id="modify-btn">
                        <a th:href="@{/items/{id}/edit(id=${item.itemId})}"
                           class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-6 rounded-full transition duration-300 ease-in-out flex items-center">
                            <i data-feather="edit-2" class="mr-2"></i> 수정
                        </a>
                    </button>
                </div>
                <div>
                    <form id="delete-form" method="post" action="#">
                        <button type="submit" id="delete-btn"
                                class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-6 rounded-full transition duration-300 ease-in-out flex items-center">
                            <i data-feather="trash-2" class="mr-2"></i> 삭제
                        </button>
                    </form>
                </div>
                <div>
                    <button type="button" id="modify-btn">
                        <a th:href="@{/users/{userid}(userid=${userid})}"
                           class="bg-gradient-to-r from-purple-500 to-pink-500 hover:from-purple-600 hover:to-pink-600 text-white font-semibold py-2 px-6 rounded-full transition duration-300 ease-in-out flex items-center shadow-lg">
                            <i data-feather="edit-2" class="mr-2"></i> 판매자 정보
                        </a>
                    </button>
                </div>
            </div>
        </article>
    </div>
</main>
</body>
</html>
